
</div>

</div>

<!-- Jquery JS-->
<script src="/admin/vendor/jquery-3.2.1.min.js"></script>
<!-- Bootstrap JS-->
<script src="/admin/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="/admin/vendor/bootstrap-4.1/bootstrap.min.js"></script>
<!-- Vendor JS       -->
<script src="/admin/vendor/slick/slick.min.js">
</script>
<script src="/admin/vendor/wow/wow.min.js"></script>
<script src="/admin/vendor/animsition/animsition.min.js"></script>
<script src="/admin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script src="/admin/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="/admin/vendor/counter-up/jquery.counterup.min.js">
</script>
<script src="/admin/vendor/circle-progress/circle-progress.min.js"></script>
<script src="/admin/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/admin/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="/admin/vendor/select2/select2.min.js">
</script>
<script>CKEDITOR.replace('editor', {
    skin: 'moono',
    enterMode: CKEDITOR.ENTER_BR,
    shiftEnterMode:CKEDITOR.ENTER_P,
    toolbar: [{ name: 'basicstyles', groups: [ 'basicstyles' ], items: [ 'Bold', 'Italic', 'Underline', "-", 'TextColor', 'BGColor' ] },
               { name: 'styles', items: [ 'Format', 'Font', 'FontSize' ] },
               { name: 'scripts', items: [ 'Subscript', 'Superscript' ] },
               { name: 'justify', groups: [ 'blocks', 'align' ], items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock' ] },
               { name: 'paragraph', groups: [ 'list', 'indent' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent'] },
               { name: 'links', items: [ 'Link', 'Unlink' ] },
               { name: 'insert', items: [ 'Image'] },
               { name: 'spell', items: [ 'jQuerySpellChecker' ] },
               { name: 'table', items: [ 'Table' ] }
               ],
  });
  </script>

<!-- Main JS-->
<script src="/admin/js/main.js"></script>

</body>

</html>
<!-- end document-->     
 
<!-- end document-->

 
 