<%-include("navbar.ejs")%>
<br>
<form action="/do_login" method="post">
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-md-6">
            <div style="border: 1px solid black ; padding: 20px; text-align: center;">
                <h3>Login Now </h3>
                Enter Mobile<br>
                <input type="number" name="customer_mo" class="form-control">
                <br>
                Enter Password<br>
                <input type="password" name="customer_password" class="form-control">
                <br>
                <button>Login Now </button>
                <br>
                <a href="/register">New User, Create Account</a>
            </div>
        </div>
    </div>
</div>

</form>
<br>
<%-include("footer.ejs")%>